<div class="main">
  <app-cards *ngFor="let post of posts"
  [title]="post.title"
  [imageUrl]="post.imageUrl"
  [userName]="post.userName"
  [content]="post.content"
  ></app-cards>
  <!-- <app-cards
  [title]="posts[1].title"
  [imageUrl]="posts[1].imageUrl"
  [userName]="posts[1].userName"
  [content]="posts[1].content"
  ></app-cards>
  <app-cards
  [title]="posts[2].title"
  [imageUrl]="posts[2].imageUrl"
  [userName]="posts[2].userName"
  [content]="posts[2].content"
  ></app-cards> -->
</div>
